<!DOCTYPE html>
<html lang="en" ng-app="jsonGiant">
<head>
    <meta charset="UTF-8">
    <title>JSON Giant</title>

    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <script src="globalizeLibs.js"></script>

    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/lodash/lodash.js"></script>
    <script src="json-giant.js"></script>
    <script src="components/json-tree.js"></script>

    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../node_modules/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="css/json-tree.css" rel="stylesheet"/>

    <style>
        body {
            padding-top: 70px;
            padding-bottom: 70px;
        }

        /* ensure body is not behind the navbar
          </style>
</head>
<body ng-controller="defaultCtrl" ng-cloak>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header ">

            <form class="form-inline" ng-submit="filterChanged(jsonFilter)">


                <div class="btn btn-default navbar-btn" ng-click="pastFromClipboard()">
                            <span class="glyphicon glyphicon-paste" aria-hidden="true" data-toggle="tooltip"
                                  title="Load from clipboard"></span>
                </div>
                <div class="btn btn-default navbar-btn" ng-click="openFile()">
                            <span class="glyphicon glyphicon-folder-open" aria-hidden="true" data-toggle="tooltip"
                                  title="Open file"></span>
                </div>

                <div class="input-group">
                    <span class="input-group-addon">Filter Path</span>
                    <input type="text" class="form-control" size="70" ng-model="jsonFilter"
                           ng-keyup="jsonFilterKeyPress($event, jsonFilter)">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">Apply</button>
                        <button class="btn btn-default" ng-click="jsonFilter = '';" type="submit">
                              <span class="glyphicon glyphicon-trash" aria-hidden="true" data-toggle="tooltip"
                                    title="Clear filter"></span>
                        </button>
                    </div>
                </div>
            </form>


        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="container-fluid">
        <json-tree json-content="data" max-nodes="200" json-filter="activeJSONFilter"
                   on-error="onSyntaxError($event)"
                   on-node-mouse-over="onNodeMouseOver($event)"
                   on-node-click="onNodeMouseClick($event)"></json-tree>
    </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container" ng-if="selectedNode">

        <Button class="btn btn-default navbar-btn" ng-click="copySelectedNode()" title="Copy selected node">
                            <span class="glyphicon glyphicon-copy" aria-hidden="true" data-toggle="tooltip"
                            ></span> Node
        </Button>

        <Button class="btn btn-default navbar-btn" ng-click="copySelectedPath()" title="Copy selected path">
                            <span class="glyphicon glyphicon-copy" aria-hidden="true" data-toggle="tooltip"
                            ></span> Path
        </Button>

        <p class="navbar-text">{{selectedNode.path.path}}</p>
    </div>
</nav>
</body>
</html>