@import '~angular-tree-component/dist/angular-tree-component.css';

.test{
  background-color: red;
}

div.page-content {
  height: 100%;
  width: 100%;
}
div.view {
  overflow: scroll;
  height: 100%;
}
